## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [22]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = client['Assignment']
collection = mydb.students
collection.insert_many([
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ])

InsertManyResult([ObjectId('670e7775ee39c7a5bbc90644'), ObjectId('670e7775ee39c7a5bbc90645'), ObjectId('670e7775ee39c7a5bbc90646'), ObjectId('670e7775ee39c7a5bbc90647'), ObjectId('670e7775ee39c7a5bbc90648')], acknowledged=True)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [23]:
query = {"math_score": {"$gt": 80}}
for student in collection.find(query, {"_id": 0}):
 print(student)

{'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [24]:
query = {"age": {"$lt": 23}}
for student in collection.find(query,  {"_id": 0}):
 print(student)

{'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [25]:
for student in collection.find({},  {"_id": 0, "name":1, "math_score":1}):
 print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [26]:
query = {"city": "New York"}
for student in collection.find(query,  {"_id": 0}):
 print(student)

{'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Bob' to 85.

In [27]:
collection.update_one({"name":'Bob'}, {"$set":{"physics_score":85}})
#There's no student record as Bob in the collection

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)

7. Write a query to delete the student 'David' from the collection.

In [28]:
query = {"name": "David"}
collection.delete_one(query)

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [29]:
query = {"math_score": {"$gte": 70, "$lte": 90}}
for student in collection.find(query, {"_id":0}):
    print(student)

{'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [30]:
query = {
    "$expr": {
        "$gt": ["$math_score", "$physics_score"]
    }
}
for student in collection.find(query, {"_id":0}):
    print(student)

{'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [31]:
sort_order = [("math_score", -1)]

for student in collection.find().sort(sort_order):
 print(student)

{'_id': ObjectId('67064a49b01c2eebfea2ab0e'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago'}
{'_id': ObjectId('67064a49b01c2eebfea2ab0c'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('67064a49b01c2eebfea2ab0d'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('67064a49b01c2eebfea2ab10'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('67064a49b01c2eebfea2ab0f'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [38]:
pipeline = [
    {
        "$group": {
            "_id": None,
            "average_math_score": {"$avg": "$math_score"}
        }
    }
]

result = collection.aggregate(pipeline)

for doc in result:
    print("Average Math Score:", doc["average_math_score"])

Average Math Score: 78.0

12. Write a query to group students by 'city' and count the number of students in each city.

In [33]:
pipeline = [
    {
        "$group": {
            "_id": "$city",
            "student_count": {"$sum": 1}
        }
    }
]

results = collection.aggregate(pipeline)

for doc in results:
    print(f"City: {doc['_id']}, Number of Students: {doc['student_count']}")

City: Houston, Number of Students: 1
City: Phoenix, Number of Students: 1
City: Chicago, Number of Students: 1
City: Los Angeles, Number of Students: 1
City: New York, Number of Students: 1

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [34]:
query = {"$or":[{"math_score": {"$gte":80}, "physics_score": {"$gte":85}}]}

for student in collection.find(query, {"_id":0}):
    print(student)

{'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [35]:
query = {"$and":[{"age": 23, "city": "Phoenix"}]}

for student in collection.find(query, {"_id":0}):
    print(student)

{'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [48]:
query = {"math_score":{"$ne":85}}
for student in collection.find(query, {"_id":0}):
 print(student)

{'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago'}
{'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [46]:
# Find students whose name starts with the letter 'A'
result = collection.find({"name": {"$regex": "^A", "$options": "i"}})

# Print the results
for student in result:
 print(student)

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [52]:
query = {"$nor":[{"city": "New York"}, {"city":"Los Angeles"}]}

for student in collection.find(query, {"_id":0}):
    print(student)

{'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago'}
{'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [54]:
collection.update_many(
    {'age': {"$gt":22}},
    {"$set": {"graduated":True}}
)

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [36]:
# Update students who live in Chicago
result = collection.update_many(
    {"city": "Chicago"},
    {"$unset": {"physics_score": 1}}
)

# Print the result
print(result.matched_count, "documents matched, ", result.modified_count, "documents modified")

1 documents matched,  0 documents modified

20. Write a query to find the student with the highest 'math_score'.

In [37]:
for student in collection.find().sort("math_score", -1).limit(1):
    print(student)

{'_id': ObjectId('67064a49b01c2eebfea2ab0e'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago'}